<div class="row">
		
	<div class="page-header">
		<h1>Authentication <small>Reset Password</small></h1>
	</div>

	<form class="form-signin" name="forgotPasswordForm" novalidate ng-submit="submitLogin()">
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">New Password</label>
			<div class="col-sm-9">
				<input type="password" id="password" name="password" ng-model="registration.password" class="form-control" placeholder="Password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required>
				
				<span id="helpBlock" class="help-block" ng-if="(forgotPasswordForm.password.$touched || forgotPasswordForm.$submitted) && forgotPasswordForm.password.$error.required">Password is required</span>
				<span id="helpBlock" class="help-block" ng-if="(forgotPasswordForm.password.$touched || forgotPasswordForm.$submitted) && forgotPasswordForm.password.$error.pattern">Password should be atleast 8 characters long and should contain one number,one character and one special character</span>

			</div>						
		</div>
		<div class="form-group">
			<label for="repeat-password" class="col-sm-3 control-label">Repeat Password</label>
			<div class="col-sm-9">
				<input type="password" id="repeat-password" name="repeatPassword" ng-model="registration.repeat_password" class="form-control" placeholder="Repeat Password" password-verify="{{forgotPasswordForm.password.$viewValue}}" required>
				
				<span id="helpBlock" class="help-block" ng-if="(forgotPasswordForm.repeatPassword.$touched || forgotPasswordForm.$submitted) && forgotPasswordForm.repeatPassword.$error.required">Repeat password is required</span>
				<span id="helpBlock" class="help-block" ng-if="(forgotPasswordForm.repeatPassword.$touched || forgotPasswordForm.$submitted) && forgotPasswordForm.repeatPassword.$error.passwordVerify">Password doesn't match</span>

			</div>						
		</div>		
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button type="submit" class="btn btn-primary btn-block" ng-click="test()">Sign up</button>
			</div>
		</div>		
	</form>
	<div class="alert alert-warning" role="alert" ng-if="error != null">{{error}}</div>
	<a ng-click="$back()">Back</a>

</div>

